body{
    background-color: black;
}
.fbox-cont{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    color: cornsilk;
    }
.fbox-item-1{
    font-family: 'Times New Roman', Times, serif;
    flex-grow: 1;
    display: flex;
    width: 40%;
    align-items:flex-start;
    align-content: flex-start;
    flex-direction: column;
    text-align: center;
    margin-right: 20%;

}
.fbox-item-1 img{ 
    height: 50%;
    width: 50%;
    margin-left: 20.5%;
}
.fbox-item-2{
    flex-grow: 2;
    display: flex;
    margin-left: 40%;
    flex-grow: 1;
    align-content: center;
    align-items: flex-end;
    justify-content: center;
}
.fbox-item-2 img{
    height: 100%;
}
#btn1{
    background-color: #0084bd;
    border: none;
    color: cornsilk;
    margin-left: 20.5%;

}
#btn1:hover{
    cursor: pointer;
    background-color: #0493d1;
}
.fbox-item-1 h5, a, input {
    margin-left: 20%;
}
.sign{
    margin-left: 25%;
}
#btn2{
    margin-left: 30%;
}
a{
    text-decoration: none;
    color: cornsilk;
}
h5{
    font-size: 16px;
}
#sign{
    margin-left: 100.5%;
    margin-right: 0%;
}
input{
    background-color: black;
}
small{
    margin-left: 15%;
}
.terms{
    text-align: center;
}