.body{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.header{
    background-color: dimgrey;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 20px;
    color:white;
}
.tabs {
    width: 100%;
    height: 250px;
    
}
.links{
    float: left;
    width: 110%;
    height: 50px;
}
.links a{
    text-decoration: none; 
}
.links h2{
    background-color: teal;
    color: white;
    margin-right: 90%;
    padding:5px;
    
}
.info{
    float: right;
    margin-right: 45%;
    margin-top:-20px;

}
.footer{
    width: 100%;
    height: 100px;
    background-color: dimgrey;
    color:white;
    margin-top: 20px;
    padding-top: 30px;
}


