*{
    background-color: #293f50;
    color:#888;
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.flexbox-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.flexbox-container-1{
    padding-right: 30px;
    padding-left: 30px;
    align-items:center;
    align-content: center;
}
a{
    text-decoration: none;
}
.flexbox-item-2 h3{
    padding-left: 200px;
}
.nav { 
    text-align: right;
    list-style-type: none;
    margin: 0;
}
.nav li {
    display: inline-block;
    font-size: 16px;
    color: black;
    
}
.btn {
    background-color: white;
    color: black;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
a.btn:hover{
    background-color: white;
}

.subheader{
    text-align: center;
}
.nav2 { 
    text-align: right;
    list-style-type: none;
    margin: 0;
    padding-left: 0px;
}
.nav2 li {
    display: inline-block;
    font-size: 16px;
    color: seashell;
    
}
.row{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
align-items:center;
align-content: center;
padding-top: 2.5%;
padding-bottom: 2.5%;
background-color: seashell;
}
.speak{
    flex-grow: 1;
    flex-basis: 0;
}
.ven{
    flex-grow: 1;
    flex-basis: 0;
}
.sched{
    flex-grow: 1;
    flex-basis: 0;
}
h5, img, .sched, .ven, .speak, .row p, .row h3{
    background-color: seashell;
}
img{
    max-width: 280px;
    border-radius: 2%;
}