*{
    margin:0; 
    padding:0;
}

body{
    background-color:beige;
}

#main_container{
   width:600px;
   margin-top:20px;
   margin-right:auto;
   margin-left:auto;
   background-color:#ffffff;
   overflow: hidden;
   }

.border {
    border-radius: 15px;
    width:100px;
    height:100px;
    margin: 1%;
}
h2{
    font-size: 80px;
    font-family: verdana;
    text-transform:uppercase;
    text-align: center;
}
.blue{
    border:10px solid rgb(78, 190, 255);
    color:rgb(78, 190, 255);
}
.red{
    border:10px solid rgb(255, 78, 78);
    color:rgb(255, 78, 78);
}
.green{
    border:10px solid rgb(78, 255, 122);
    color:rgb(78, 255, 122);
}

#a{
    float: left;
    margin-left: 40% ;

}

#b{
    float: left;
    clear: left;
    margin-left: 30%;
}

#c{
    float: left;
}

#d{
    float: left;
    clear:left;
    margin-left: 20%;
}

#e{
    float: left;
}

#f{
    float: left;
}

